<div class="container inside_pages_container" >

<table class="table table-hover table-condensed table-bordered table-responsive">
   <caption><strong><%= @subject.name -%>&nbsp;&nbsp; Books:</strong></caption><br>

   <thead>
      <tr>
         <th>Id</th>
         <th>Name</th>
      </tr>
   </thead>
   <tbody>
   
   <% @subject.books.each do |c| %>
   <tr>
      <td><%=c.id%></td>
      <td><%= link_to c.title, :action => "show", :id => c.id -%></td>
     </tr>
   <% end %>
   
   </tbody>
   </table>
<%= link_to 'Back', {:action => 'index'} ,:class=>"btn btn-primary"%>
</div>